.objects {
    margin-bottom: 210px;

    @media #{$tablet} {
        margin-bottom: 100px;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 66px;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 80px 3%;

        @media #{$desktop} {
            gap: 80px 2%;
        }

        @media #{$tablet} {
            flex-wrap: wrap;
            gap: 60px 2%;
        }
    }

    &__card {
        position: relative;
        width: 22.5%;
        transition: all .1s linear;

        @media #{$desktop} {
            width: 32%;
        }

        @media #{$tablet} {
            width: 48%;
        }

        @media #{$phone} {
            width: 100%;
        }

        &:hover {
            transform: translateY(-14px);

            h3 {
                color: $color-main;
            }

            div {
                box-shadow: 0px 4px 25px 0px #00000040;
            }
        }

        h3 {
            position: absolute;
            display: flex;
            flex-direction: column;
            font-family: $font-second;
            font-weight: $font-weight-semibold;
            font-size: 18px;
            line-height: 22px;
            padding-bottom: 10px;
            transition: all .1s linear;
            left: 0;
            bottom: 100%;

            &::before {
                content: none;
            }

            span {
                font-weight: $font-weight-medium;
                font-size: 14px;
                line-height: 18px;
                color: #7C7E83;
            }
        }

        div {
            position: relative;
            border-radius: 40px;
            transition: all .1s linear;

            a {
                position: absolute;
                width: 100%;
                height: 100%;
                border-radius: 40px;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            img {
                width: 100%;
                aspect-ratio: 338 / 254;
                object-fit: cover;
                object-position: center;
                border-radius: 40px;
                pointer-events: none;
            }
        }
    }

    &.main {
        margin-bottom: 120px;

        .objects {
            &__header {
                margin-bottom: 23px;

                @media #{$tablet} {
                    margin-bottom: 52px;
                }
            }

            &__content {
                background-color: #F5F7F9;
                padding: 46px 0 78px;
                @media #{$tablet} {
                    background-color: transparent;
                    padding: 0;
                }

                .section-box {
                    position: relative;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 3%;

                    @media #{$desktop} {
                        gap: 2%;
                    }

                    @media #{$tablet} {
                        gap: 20px 2%;
                    }
                }
            }

            &__more {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                background-color: $color-white;
                border-radius: 50%;
                top: 50%;
                right: 35px;

                @media #{$desktop} {
                    right: 15px;
                }

                @media #{$tablet} {
                    display: none;
                }

                img {
                    pointer-events: none;
                }
            }
        }
    }

    &_workers {
        margin-bottom: 158px;

        @media #{$tablet} {
            margin-bottom: 48px;
        }

        .objects__card {
            div img {
                object-position: center 25%;
            }
            
            &:hover {
                transform: translateY(0);

                h3 {
                    color: $color-black;
                }

                div {
                    box-shadow: none;
                }
            }
        }
    }
}