.services {
    position: relative;
    margin-bottom: 200px;
    z-index: 1;

    @media #{$tablet} {
        margin-bottom: 78px;
    }

    @media #{$tablet} {
        margin-top: 45px;
    }

    h1, h2 {
        margin-bottom: 54px;

        @media #{$tablet} {
            margin-bottom: 22px;
        }
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: 1.33%;

        @media #{$desktop} {
            gap: 22px 2%;
        }

        &_service {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 260px;
            margin-right: 60px;

            @media #{$tablet} {
                width: 100%;
                margin-right: 0;
                margin-bottom: 18px;
            }

            .services__card {
                align-items: center;
                width: inherit;
                height: 72px;
                padding: 0 10px 0 25px;
                border-radius: 20px;

                @media #{$tablet} {
                    height: 96px;
                }
                
                &:hover, &.active {
                    transform: translateY(0);
                }

                p {
                    font-weight: $font-weight-bold;
                    font-size: 20px;
                    line-height: 24px;
                    margin-right: 0;

                    @media #{$tablet} {
                        font-size: 25px;
                        line-height: 30px;
                    }
                }

                div {
                    width: 90px;
                    height: 70px;
                    border-radius: 20px;
                    margin-bottom: 8px;

                    @media #{$tablet} {
                        width: 100px;
                        height: 100px;
                        margin-bottom: 14px;
                        right: 8px;
                    }
                }
            }
        }
    }

    &__card {
        position: relative;
        display: flex;
        align-items: end;
        width: 24%;
        height: 180px;
        background: #EDEEF0E5;
        padding: 0 16px 20px 30px;
        border-radius: 40px;
        transition: all .2s ease-in-out;
        cursor: pointer;

        @media #{$desktop} {
            width: 49%;
        }

        @media #{$phone} {
            align-items: center;
            width: 100%;
            height: 96px;
            border-radius: 20px;
        }

        &:hover, &.active {
            background: linear-gradient(180deg, #FDBC00 0%, rgba(253, 188, 0, 0.41) 100%);
            transform: translateY(-30px);

            @media #{$phone} {
                transform: translateY(0);
            }
        }

        a {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }

        p {
            font-family: $font-main;
            font-weight: $font-weight-regular;
            font-size: 30px;
            line-height: 36px;
            margin-right: 18px;
            z-index: 1;
        }

        div {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 180px;
            height: 180px;
            background-color: #FFFFFFB2;
            border-radius: 60px;
            right: 16px;

            @media #{$desktop} {
                width: 150px;
                height: 150px;
                border-radius: 30px;
            }

            @media #{$phone} {
                width: 100px;
                height: 100px;
                border-radius: 20px;
            }

            img {
                pointer-events: none;
            }
        }
    }

    &_page {
        @media #{$tablet} {
            margin-top: 0;
        }

        h2 {
            margin-bottom: 125px;

            @media #{$tablet} {
                margin-bottom: 20px;
            }
        }

        .services {
            &__card {
                width: 24%;
                height: 100%;
                background-color: transparent;
                aspect-ratio: 360 / 418;

                @media #{$desktop} {
                    width: 49%;
                }

                @media #{$tablet} {
                    height: 180px;
                    background: #EDEEF0E5;
                    aspect-ratio: 0;
                }

                @media #{$phone} {
                    align-items: center;
                    width: 100%;
                    height: 96px;
                    border-radius: 20px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 63.28%, rgba(0, 0, 0, 0.9) 100%);
                    border-radius: 40px;
                    pointer-events: none;
                    top: 0;
                    left: 0;

                    @media #{$tablet} {
                        content: none;
                    }
                }

                &:hover {
                    &::before {
                        background: linear-gradient(180deg, rgba(253, 188, 0, 0) 63.28%, rgba(253, 188, 0, 0.9) 100%);
                    }

                    @media #{$tablet} {
                        background: linear-gradient(180deg, #FDBC00 0%, rgba(253, 188, 0, 0.41) 100%);
                    }

                    p {
                        color: $color-black;
                    }

                    img {
                        filter: none;
                    }
                }

                p {
                    color: $color-white;
                    transition: all .1s linear;

                    @media #{$tablet} {
                        color: $color-black;
                    }
                }

                div {
                    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 100%);

                    @media #{$tablet} {
                        background-color: #FFFFFFB2;
                    }
                }

                &>img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border-radius: 40px;
                    top: 0;
                    left: 0;
                    object-fit: cover;
                    object-position: center;
                    aspect-ratio: 360 / 418;
                    pointer-events: none;
                    filter: blur(2px);
                    transition: all .1s linear;
                    z-index: -1;

                    @media #{$tablet} {
                        display: none;
                    }
                }
            }
        }
    }
}