.service {
    margin-bottom: 210px;
    
    @media #{$tablet} {
        margin-bottom: 65px;
    }
    
    &>h1, &>h2 {
        margin-bottom: 48px;

        @media #{$tablet} {
            margin-bottom: 16px;
        }
    }

    &__wrapper {
        display: flex;

        @media #{$tablet} {
            flex-direction: column;
        }
    }

    &__content {
        width: 100%;
        
        .btn {
            width: 285px;

            @media #{$phone} {
                width: 100%;
            }

            img {
                margin-right: 22px;
            }
        }
    }
    
    &__title, &__title>span {
        font-weight: $font-weight-bold;
        font-size: 30px;
        line-height: 35px;
    }

    &__title {
        padding-bottom: 0;
        margin-bottom: 43px;

        @media #{$tablet} {
            display: none;
        }

        &::before {
            content: none;
        }
    }

    &__table {
        width: 100%;
        margin-bottom: 28px;

        @media #{$phone} {
            width: calc(100% + 34px);
            transform: translateX(-17px);
        }

        &-name {
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 13px;
            margin-bottom: 22px;

            @media #{$tablet} {
                margin-bottom: 10px;
            }
        }

        &__header {
            th {
                div {
                    display: flex;
                    align-items: center;
                    height: 57px;
                }
            }
        }

        td {
            div {
                font-size: 18px;
                line-height: 15px;
                color: $color-black;
                display: flex;
                align-items: center;
                height: 35px;

                @media #{$tablet} {
                    font-size: 14px;
                    line-height: 10px;
                    text-align: center;
                    height: 30px;
                }
            }
        }

        &_column {
            &_1 {
                width: 5%;

                @media #{$tablet} {
                    width: 11.8%;
                }

                div {
                    justify-content: center;
                }
            }
            
            &_2 {
                width: 56.6%;

                @media #{$tablet} {
                    width: 63.5%;
                }

                div {
                    padding-left: 18px;

                    @media #{$tablet} {
                        justify-content: center;
                        padding-left: 0;
                    }

                    span {
                        @media #{$tablet} {
                            display: none;
                        }
                    }
                }
            }

            &_3 {
                width: 17.8%;

                @media #{$tablet} {
                    display: none;
                }

                div {
                    justify-content: center;
                }
            }

            &_4 {
                width: 20.4%;

                @media #{$tablet} {
                    width: 24.7%;
                }

                div {
                    padding-left: 18px;
                    
                    @media #{$desktop} {
                        padding-left: 5px;
                    }

                    @media #{$tablet} {
                        justify-content: center;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}