.up {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF80;
    width: 49px;
    height: 49px;
    border: 1px #E3E3E3 solid;
    border-radius: 50%;
    transition: all .1s linear;
    cursor: pointer;
    right: 16px;
    bottom: 50px;
    opacity: 1;
    z-index: 999999;

    @media #{$tablet} {
        display: none;
    }

    &-invisible {
        opacity: 0;
    }
}